[submodule "leetcodeBuddyExtension"]
	path = leetcodeBuddyExtension
	url = git@github.com:logan-lach/leetcodeBuddyExtension.git
[submodule "leetcodeBuddyBackend"]
	path = leetcodeBuddyBackend
	url = git@github.com:logan-lach/leetcodeBuddyBackend.git
